.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about h2 {
    font-size: 2.4rem;
    line-height: 4rem;
    font-weight: 400;
    margin-block-start: 70px;
    margin-block-end: 24px;
}
.about p {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 40px;
    padding-block-end: 24px;
}
.about__logo {
    background-image: url('../assets/icons/icons-down.svg');
    inline-size: 80px;
    block-size: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (min-width: 768px) {
    .about h2 {
        font-size: 3.4rem;
        line-height: 5.5rem;
        font-weight: 300;
        margin-block-start: 200px;
        margin-block-end: 24px;
    }
    .about p {
        font: var(--headline5);
        padding-block-end: 24px;
    }
}