.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    block-size: 80px;
    width: 100%;
    position: sticky;  /*Para que el menu nos persiga*/
    top: 0; /*Parte del sticky*/
    backdrop-filter: blur(10px); /*Para que tenga un efecto borroso el header*/
}