.hero {
    padding-block-start: 16px;
    width: 100%;
}
.pic-container {
    display: flex;
    justify-content: center;
}
.hero-pic {
    inline-size: 290px;
    block-size: 290px;
    background-image: url('../assets/oscarito.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    min-width: 290px;
}


.hero-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.hero h1 {
    font: var(--headline3);
}
.hero h1 span:nth-of-type(1) {    /*Trucazo*/
    font: var(--headline5);
    display: block;
}
.hero-social {
    padding-block-end: 24px;
}
@media screen and (min-width: 768px) {
    .hero {
        display: flex;
        gap: 32px;
    }
    .hero-description {
        order: 1;
        max-inline-size: 450px;
    } 
    .pic-container {
        order: 2;
        flex: 1; /*Holy shit que perro trucazo, investigar*/
        justify-content: flex-end;
    }
}

@media screen and (min-width: 1024px) {
    .hero-pic {
        inline-size: 500px;
        block-size: 500px;
    }
}