.project {
    padding-block-start: 40px;
    padding-block-end: 40px;
}

.project__description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.project__pic img{
    max-inline-size: 100%; /*Para que no suban de tamaño mas alla de su contenedor*/
    /* block-size: auto; */ /*Lo mismo de arriba pero para la altura. Super útil*/
}
@media screen and (min-width: 768px) {
    .project {
        display: flex;
        align-items: center;
        padding-block-start: 80px;
        padding-block-end: 80px;
    }
    .title {
        font: var(--headline4);
    }
    .project:nth-child(odd) .project__pic{
        order: 2;
        flex: 1;
        text-align: center;
    }
    .project__pic {
        flex: 1;
        text-align: center;
    }
    .project__description {
        flex: 1;
    }
}